# Порт, на котором будет работать сервер
PORT=5003

# Подключение к базе данных MongoDB (локально)
MONGO_URI=mongodb://localhost:27017/mybank

# Секреты для JWT токенов
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key